<!doctype html>
<html>
	<head>
  	<link rel="stylesheet" type="text/css" href="../style.css">
	</head>

<body>
  <div>
	  <form method="link" action="/people" id="home">
  		<input type="submit" value="HOME">
  	</form>
    <form method="link" action="/people/new">
      <input type="submit" value="NEW">
    </form>
    <form method="link" action="/people/find">
      <input type="submit" value="FIND ANOTHER PERSON?">
    </form>
  </div>

<p>Look at him working, darning his socks in the night when there's nobody there</p>
  <h1>Sorry, no one here by that name</h1><br>


</body>
</html>